<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



    <div th:fragment="centre-select-elements">
        <label for="c-state-select">Select State/UT:</label>
        <select id="c-state-select" name="stateName" onchange="submitForm()" required>
            <option value="" selected disabled>Select State</option>
            <span th:each="state: ${states}">
                    <option th:if="${centreSelectDto.stateName != state.name}" th:value="${state.name}"
                            th:text="${state.name}"></option>
                <!--If condition is false-->
                    <option th:if="${centreSelectDto.stateName == state.name}" th:value="${state.name}"
                            th:text="${state.name}" selected></option>
                </span>
        </select>

        <label for="c-district-select">Select District:</label>
        <select id="c-district-select" name="districtId" onchange="submitForm()">
            <option selected disabled>Select District</option>
            <span th:each="district: ${districts}">
                    <option th:if="${centreSelectDto.districtId!=district.id}" th:value="${district.id}"
                            th:text="${district.name}"></option>
                    <option th:unless="${centreSelectDto.districtId!=district.id}" th:value="${district.id}"
                            th:text="${district.name}" selected></option>
                </span>
        </select>

        <label for="c-city-select">Select City/Village:</label>
        <select id="c-city-select" name="cityId" onchange="submitForm()">
            <option selected disabled>Select City/Village</option>
            <span th:each="city: ${cities}">
                    <option th:if="${centreSelectDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}"></option>
                    <option th:unless="${centreSelectDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}" selected></option>
                </span>
        </select>

        <label for="c-centre-select">Select Centre:</label>
        <select id="c-centre-select" name="centreId" onchange="submitForm()">
            <option selected disabled>Select Centre</option>
            <span th:each="centre: ${centres}">
                    <option th:if="${centreSelectDto.centreId!=centre.id}" th:value="${centre.id}"
                            th:text="${centre.name}"></option>
                    <option th:unless="${centreSelectDto.centreId!=centre.id}" th:value="${centre.id}"
                            th:text="${centre.name}" selected></option>
                </span>
        </select>
    </div>



    <div th:fragment="city-select-elements" class="d-flex flex-row justify-content-between">
        
        
        <div class="form-group mb-4">
                <label for="city-state-select" class="col-auto">Select State/UT:</label>
                <select id="city-state-select" name="stateName" onchange="submitForm()" class="form-control form-control-lg" required>
                <option value="" selected disabled>Select State</option>
                <span th:each="state: ${states}">
                        <option th:if="${cityDto.stateName != state.name}" th:value="${state.name}"
                                th:text="${state.name}"></option>
                        <!--If condition is false-->
                        <option th:unless="${cityDto.stateName != state.name}" th:value="${state.name}"
                                th:text="${state.name}" selected></option>
                        </span>
                </select>
        </div>

        <div class="form-group mb-4">
                <label for="city-district-select" class="col-auto">Select District:</label>
                <select id="city-district-select" name="districtId" onchange="submitForm()" class=" form-control form-control-lg">
                <option selected disabled>Select District</option>
                <span th:each="district: ${districts}">
                        <option th:if="${cityDto.districtId!=district.id}" th:value="${district.id}"
                                th:text="${district.name}"></option>
                        <option th:unless="${cityDto.districtId!=district.id}" th:value="${district.id}"
                                th:text="${district.name}" selected></option>
                        </span>
                </select>
        </div>

        <div class="form-group mb-4">
                <label for="city-city-select" class="col-auto">Select City/Village:</label>
                <select id="city-city-select" name="cityId" class="form-control form-control-lg">
                <option selected disabled>Select City/Village</option>
                <span th:each="city: ${cities}">
                        <option th:if="${cityDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}">
                        </option>
                        <option th:unless="${cityDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}"
                                selected></option>
                </span>
                </select>
        </div>

    </div>



    <div th:fragment="disease-select">
        <label for="disease-select" class="col-auto">Disease:</label>
        <select id="disease-select" name="selectedDiseaseId" onchange="submitForm()" class="form-control-lg form-control" required>
            <option value="" selected disabled>Select</option>
            <span th:each="disease: ${diseases}">
                        <option th:if="${selectedDiseaseId != disease.id}" th:value="${disease.id}"
                                th:text="${disease.name}"></option>
                <!--If condition is false-->
                        <option th:unless="${selectedDiseaseId != disease.id}" th:value="${disease.id}"
                                th:text="${disease.name}" selected></option>
                        </span>
        </select>
    </div>



    <div th:fragment="spot-select-elements">
        
        <div class="form-group mb-4">
                <label for="s-state-select" class="col-auto">State / UT:</label>
                <select id="s-state-select" name="stateName" onchange="submitForm()" class="form-control-lg form-control" required>
                <option value="" selected disabled>Select</option>
                <span th:each="state: ${states}">
                        <option th:if="${spotDto.stateName != state.name}" th:value="${state.name}"
                                th:text="${state.name}"></option>
                        <!--If condition is false-->
                        <option th:unless="${spotDto.stateName != state.name}" th:value="${state.name}"
                                th:text="${state.name}" selected></option>
                        </span>
                </select>
        </div>
        

        
        <div class="form-group mb-4">    
                <label for="s-district-select" class="col-auto">District:</label>
                <select id="s-district-select" name="districtId" onchange="submitForm()" class="form-control-lg form-control col-auto">
                        <option selected disabled>Select</option>
                        <span th:each="district: ${districts}">
                                <option th:if="${spotDto.districtId!=district.id}" th:value="${district.id}"
                                        th:text="${district.name}"></option>
                                <option th:unless="${spotDto.districtId!=district.id}" th:value="${district.id}"
                                        th:text="${district.name}" selected></option>
                        </span>
                </select>
        </div>
        

        
        <div class="form-group mb-4">  
                <label for="s-city-select" class="col-auto">City/Village:</label>
                <select id="s-city-select" name="cityId" onchange="submitForm()" class="form-control-lg form-control col-auto">
                <option selected disabled>Select</option>
                <span th:each="city: ${cities}">
                        <option th:if="${spotDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}">
                        </option>
                        <option th:unless="${spotDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}"
                                selected></option>
                        </span>
                </select>
        </div>
        

        
        <div class="form-group mb-4"> 
                <label for="s-spot-select" class="col-auto">Ward:</label>
                <select id="s-spot-select" name="spotId" class="form-control-lg form-control col-auto">
                <option selected disabled>Select</option>
                <span th:each="spot: ${spots}">
                        <option th:if="${spotDto.spotId != spot.id}" th:value="${spot.id}" th:text="${spot.ward+' : '+spot.localityNames}">
                        </option>
                        <option th:unless="${spotDto.spotId != spot.id}" th:value="${spot.id}" th:text="${spot.ward+' : '+spot.localityNames}"
                                selected></option>
                        </span>
                </select>
        </div>
        
    </div>


    <div th:fragment="vaccine-category-select">
        <label for="vaccine-category-select">Select Vaccine Category:</label>
        <select id="vaccine-category-select" name="vaccineCategoryId">
            <option selected disabled>Select Vaccine Category</option>
            <span th:each="vaccineCategory: ${vaccineCategories}">
                <option th:if="${vaccineCategoryId != vaccineCategory.id}"
                        th:value="${vaccineCategory.id}" th:text="${vaccineCategory.name}">
                </option>
                <option th:unless="${vaccineCategoryId != vaccineCategory.id}"
                        th:value="${vaccineCategory.id}" th:text="${vaccineCategory.name}" selected>
                </option>
            </span>
        </select>
    </div>

    <div th:fragment="vaccine-drive-status-select">
        <label for="vaccine-drive-status-select">Select Vaccine Drive Status:</label>
        <select id="vaccine-drive-status-select" name="selectedDriveStatus" onchange="submitForm()">
            <option selected disabled>Select Status</option>
            <span th:each="driveStatus: ${driveStatuses}">
                <option th:if="${driveStatus != selectedDriveStatus}"
                        th:value="${driveStatus}" th:text="${driveStatus}">
                </option>
                <option th:unless="${driveStatus != selectedDriveStatus}"
                        th:value="${driveStatus}" th:text="${driveStatus}" selected>
                </option>
            </span>
        </select>
    </div>

    <div th:fragment="vaccinator-select">
        <label for="vaccinator-select">Select Vaccinator:</label>
        <select id="vaccinator-select" name="vaccinatorUsername">
            <option selected disabled>Select Vaccine</option>
            <span th:each="vaccinator: ${vaccinators}">
                <option th:if="${vaccinator.username != vaccinatorUsername}"
                        th:value="${vaccinator.username}" th:text="${vaccinator.fullName}">
                </option>
                <option th:unless="${vaccinator.username != vaccinatorUsername}"
                        th:value="${vaccinator.username}" th:text="${vaccinator.fullName}"
                        selected>
                </option>
            </span>
        </select>
    </div>

    <div th:fragment="vaccine-select">
        <label for="vaccine-select">Select Vaccine Category:</label>
        <select id="vaccine-select" name="vaccineName">
            <option selected disabled>Select Vaccine</option>
            <span th:each="vaccine: ${vaccines}">
                <option th:if="${vaccineName != vaccine.name}" th:value="${vaccine.name}" th:text="${vaccine.name}">
                </option>
                <option th:unless="${vaccineName != vaccine.name}" th:value="${vaccine.name}" th:text="${vaccine.name}"
                        selected>
                </option>
            </span>
        </select>
    </div>

    <div th:fragment="vehicle-select">
        <label for="vehicle-select">Select Vehicle:</label>
        <select id="vehicle-select" name="vehicleRegNo">
            <option selected disabled>Select Vehicle</option>
            <span th:each="vehicle: ${vehicles}">
                <option th:if="${vehicle.registrationNumber != vehicleRegNo}"
                        th:value="${vehicle.registrationNumber}"
                        th:text="${vehicle.registrationNumber}">
                </option>
                <option th:unless="${vehicle.registrationNumber != vehicleRegNo}"
                        th:value="${vehicle.registrationNumber}"
                        th:text="${vehicle.registrationNumber}"
                        selected>
                </option>
            </span>
        </select>
    </div>

</body>
</html>