<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Disease</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="h3 mb-4 p-4 text-uppercase text-center">Add Disease</div>

            <form method="post" action="/staff/disease/add">
                <div class="form-group row">
                    <div class="col-xs-3 mx-auto">
                        <input type="text" name="diseaseName" placeholder="Disease Name" class="form-control mb-2"
                               th:value="${disease.name}" />
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary p-2 mb-4" value="Add Disease" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>