<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Vaccine</title>
    <style>
        #map-img{
            height: 25rem;
        }
        label{
            font-size: 1.3rem;
        }
        .btn{
            font-size: 1.1rem;
        }
        .card-deck{
            margin-top: 10px;
            margin-left: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-gap: .5rem;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">

        <div class="container">
            <div class="d-flex flex-row p-4">
                <div class="d-none d-md-block col-5">
                    <img src="/img/p112.jpg" id="map-img">
                </div>
                <div class="col-10 col-md-5 ml-auto pt-4">
                    <div class="d-flex flex-column">
                        <div class="h3 mb-4">Add Vaccine</div>
                        <div class="form-container">
                            <!-- <form method="post" th:action="@{/spot/get-by-pin-code}" th:object="${pinCodeDto}">
    
                                <div class="form-group pb-4">
                                    <label for="pincode">Enter pincode : </label>
                                    <input type="number" class="form-control p-2" name="pinCode" th:value="${pinCodeDto.pinCode}"  placeholder="E.g. 400612" required/>
                                </div>
    
                                <button type="submit" class="btn btn-primary col-12 ml-auto p-2">Submit</button>
                            </form> -->
    
    
                            <form method="post" th:action="@{/staff/vaccine/add-vaccine}" th:object="${vaccineInstance}">
                                <input type="text" name="name" placeholder="Vaccine Name" required
                                       th:value="${vaccineInstance.name}" class="form-control form-control-lg mb-4" />
                                <input type="text" name="code" placeholder="Code" required
                                       th:value="${vaccineInstance.code}" class="form-control form-control-lg mb-4" />
                                <input type="number" name="intervalInDays" placeholder="Interval In Days" required
                                       th:value="${vaccineInstance.intervalInDays}" class="form-control form-control-lg mb-4" />
                                
                                <a class="btn btn-light col-10 col-md-5 form-control form-control-lg mb-4 offset-md-1" th:href="@{/staff/vaccine/}">Back</a>
                                <input type="submit" class="btn btn-primary col-10 col-md-5 ml-auto p-2 mb-4 offset-md-1" value="Add Vaccine"/>
                                
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<!--         
        <h3>Add Vaccine</h3>
        <a th:href="@{/staff/vaccine/}">Back</a>
        <form method="post" th:action="@{/staff/vaccine/add-vaccine}" th:object="${vaccineInstance}">
            <input type="text" name="name" placeholder="Vaccine Name" required
                   th:value="${vaccineInstance.name}" />
            <input type="text" name="code" placeholder="Code" required
                   th:value="${vaccineInstance.code}" />
            <input type="number" name="intervalInDays" placeholder="Interval In Days" required
                   th:value="${vaccineInstance.intervalInDays}" />
            <input type="submit" value="Add Vaccine"/> -->
        <!-- </form> -->
    
</body>
</html>