<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Vaccine</title>
</head>
<body>
    <div layout:fragment="content">
        <h3>Add Vaccine</h3>
        <a th:href="@{/staff/vaccine/}">Back</a>
        <form method="post" th:action="@{/staff/vaccine/add-vaccine}" th:object="${vaccineInstance}">
            <input type="text" name="name" placeholder="Vaccine Name"
                   th:value="${vaccineInstance.name}" />
            <input type="text" name="code" placeholder="Code"
                   th:value="${vaccineInstance.code}" />
            <input type="submit" value="Add Vaccine"/>
        </form>
    </div>
</body>
</html>