<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Welcome, admin</h1>
    <p>
        <a th:href="@{/centre}">Centre</a>
        <a th:href="@{/staff/vaccine/}">Vaccine</a> |
        <a th:href="@{/staff/vaccine/category}">Vaccine Category</a> |
        <a th:href="@{/staff/vehicle}">Vehicle</a> |
        <a th:href="@{/staff/logout}">Log Out</a>
    </p>
</div>
</body>
</html>