<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <!-- <h1>Welcome, admin</h1> -->

    <div class="container">
        <div class="d-flex flex-column">
            <div class="h3 text-center mt-4">List of Registration</div> <hr>

            <form method="post" id="registration-filter-form"
                  th:action="@{/staff/admin-dashboard}" >
                  <div class="d-flex flex-row justify-content-center">
                    <input type="date" name="selectedDate"
                    th:value="${selectedDate}" class="form-control form-control-lg col-10 col-md-4"/>
                  </div>
                <div th:insert="fragments/form::city-select-elements" class="my-4"></div>

                
                <div class="d-flex flex-row justify-content-center">
                    <input type="submit" value="Search" class="form-control form-control-lg btn btn-primary col-md-4 col-10"/>
                </div>
            </form>

            <div><p class="text-uppercase badge bg-warning p-2">Filters</p></div>

            <!-- NOTE : MIN MAX DATE FILTER TO BE ADDED SOON -->
            <!-- <div>
                <table border="0" cellspacing="5" cellpadding="5">
                    <tbody><tr>
                        <td>Minimum date:</td>
                        <td><input type="text" id="min" name="min"></td>
                    </tr>
                    <tr>
                        <td>Maximum date:</td>
                        <td><input type="text" id="max" name="max"></td>
                    </tr>
                </tbody></table>
            </div> -->
            <div class="container">
                <table class="table table-hover table-striped text-center" id="myTable">
                    <thead>
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Appoint. Date</th>
                          <th scope="col">Full Name</th>
                          <th scope="col">Aadhar No.</th>
                          <th scope="col">Location</th>
                          <th scope="col">Dose</th>
                          <th scope="col">Status</th>
                          <th scope="col">Edit-Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="vaccination: ${vaccinations}">
                          <th scope="row" th:text="${vaccination.id}"></th>
                          <td th:text="${vaccination.selectedDate}"></td>
                          <td th:text="${vaccination.recipient.fullName}"></td>
                          <td th:text="${'****...'+vaccination.recipient.aadharLast4Digit}"></td>
                          <td th:text="${vaccination.vaccinationSpot.ward}"></td>
                          <td>Airoli</td>
                          <td th:text="${vaccination.status}"></td>
                          <td><button th:attr="onclick='updateStatus('+${vaccination.id}+')'" class="btn btn-danger">Change</button></td>
                      </tr>

                    </tbody>
                    <!-- <tfoot>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Appoi. Date</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Dose</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit-Status</th>
                        </tr>
                    </tfoot> -->
                  </table>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">

    // Form submitting function
    function submitForm() {
        document.getElementById('registration-filter-form').submit();
    }

    function updateStatus(vaccinationId) {
        var xmlHttpRequest = new XMLHttpRequest();
        xmlHttpRequest.onreadystatechange = function() {
            if(xmlHttpRequest.readyState == XMLHttpRequest.DONE){
                if(xmlHttpRequest.status == 200) {
                    addMessage(xmlHttpRequest.responseText);
                    // sleep 2sec
                    new Promise(r => setTimeout(r, 3000));
                    submitForm();
                }
                else if(xmlHttpRequest.readyState == 404)
                    addMessage(xmlHttpRequest.responseText);
            }
            else
                addMessage('Error occurred while updating.');
        }

        var data = {"vaccinationId": vaccinationId};
        console.log(data);

        xmlHttpRequest.open('POST', '/staff/update-vaccination-status', true);
        xmlHttpRequest.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xmlHttpRequest.send(JSON.stringify(data));
    }

    function addMessage(message) {
        var messagesList = document.getElementById('messages');
        var li = document.createElement('li');
        li.appendChild(document.createTextNode(message));
        messagesList.appendChild(li)
    }

    var minDate, maxDate;
 
 // Custom filtering function which will search data in column four between two values
 $.fn.dataTable.ext.search.push(
     function( settings, data, dataIndex ) {
         var min = minDate.val();
         var max = maxDate.val();
         var date = new Date( data[1] );
         console.log(date);
  
         if (
             ( min === null && max === null ) ||
             ( min === null && date <= max ) ||
             ( min <= date   && max === null ) ||
             ( min <= date   && date <= max )
         ) {
             return true;
         }
         return false;
     }
 );
  
 $(document).ready(function() {
    // create a actionListener


     // Create date inputs
     minDate = new DateTime($('#min'), {
         format: 'YYYY MM DD'
     });
     maxDate = new DateTime($('#max'), {
         format: 'YYYY MM DD'
     });
  
     // DataTables initialisation
     var table = $('#myTable').DataTable();
  
     // Refilter the table
     $('#min, #max').on('change', function () {
         table.draw();
     });
 });


//  $.fn.dataTable.ext.search.push(
//     function( settings, data, dataIndex ) {
//         var min = parseInt( $('#min').val(), 10 );
//         var max = parseInt( $('#max').val(), 10 );
//         var age = parseFloat( data[0] ) || 0; // use data for the age column
 
//         if ( ( isNaN( min ) && isNaN( max ) ) ||
//              ( isNaN( min ) && age <= max ) ||
//              ( min <= age   && isNaN( max ) ) ||
//              ( min <= age   && age <= max ) )
//         {
//             return true;
//         }
//         return false;
//     }
// );
 
// $(document).ready(function() {
//     var table = $('#myTable').DataTable();
     
//     // Event listener to the two range filtering inputs to redraw on input
//     $('#min, #max').keyup( function() {
//         table.draw();
//     } );
// } );

</script>
</body>
</html>