<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <form id="spot-form" th:action="@{/spot/get-spots}" th:object="${spotDto}">
            <label for="state-select">Select State/UT:</label>
            <select id="state-select" onchange="submitSpotForm()">
                <option th:each="state: ${states}" th:value="${spotDto.state}">STATE NAME</option>
            </select>

            <label for="district-select">Select District:</label>
            <select id="district-select" onchange="submitSpotForm"
            th:each="district: ${districts}">
                <option th:value="${spotDto.district}">DISTRICT NAME</option>
            </select>

            <label for="city-text-input">Enter City/Village:</label>
            <input type="text" id="city-text-input" th:value="${spotDto.city}"/>

            <submit>Search</submit>
        </form>
    </div>

    <script layout:fragment="script">
        function submitSpotForm() {
            document.getElementById('spot-form').submit();
        }
    </script>
</body>
</html>