<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deploy Algorithm</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container p-4">
            <div class="h4 mb-4 text-center">
                Registration Data
            </div>
    
            <form method="post" id="drive-form" th:action="@{/staff/vaccine-drive/get-registrations}">
    
                <div class="form-group d-flex flex-row justify-content-center my-4">  
                    <input type="date" name="driveDate" class="form-control col-10 col-md-3"
                    th:value="${driveDate}" th:attr="min=${minDriveDate}" />
                </div>
    
                <div th:insert="fragments/form::city-select-elements" class="my-4"></div>
    
                <input type="submit" value="Get Registrations" class="btn btn-primary btn-lg col-md-3 col-10 mb-4"/>
    
            </form>
    
            <div th:if="${hasReport}">
                <table class="table table-hover table-striped text-center my-4" id="myTable">
                    <tr>
                        <th scope="col">Ward</th>
                        <th scope="col">Registration</th>
                    </tr>
                    <tr th:each="regEntry: ${spotWiseRegistrations}">
                        <td th:text="${regEntry.key}"></td>
                        <td th:text="${regEntry.value}"></td>
                    </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td><b th:text="${totalRegistration}"></b></td>
                        </tr>
                    </b>
                </table>
    
    
                <form method="post" th:action="@{/staff/vaccine-drive/deploy-algorithm}" class="d-flex flex-row justify-content-between my-4">
    
                    <input type="hidden" name="driveDate" th:value="${driveDate}" />
                    <input type="hidden" name="cityId" th:value="${cityDto.cityId}" />
    
                    <div class="form-group">
                        <label for="cityCapacity">Registration Limit</label>
                        <input type="number" id="cityCapacity" th:value="${cityCapacity}" class="form-control form-control-lg" readonly />
                    </div>
                    
                    <div class="form-group">
                        <label>Vehicle Count</label>
                        <select name="selectedVehicleCount" onchange="calculateDosePerVan(this)" class="form-control form-control-lg" required>
                            <option selected disabled>--Select--</option>
                            <span th:each="number: ${#numbers.sequence(1, vehicleCount)}">
                                <option th:if="${number == selectedVehicleCount}" th:value="${number}" th:text="${number}"
                                        selected></option>
                                <option th:unless="${number == selectedVehicleCount}" th:value="${number}" th:text="${number}"
                                        ></option>
                            </span>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="dosesPerVehicle">Dose per Vehicle</label>
                        <input type="number" name="dosesPerVehicle" id="dosesPerVehicle" class="form-control form-control-lg" readonly
                            th:value="${dosesPerVehicle}" />
                    </div>

                    <!--<label for="totalCount">Total Dose</label>
                    <input type="number" name="totalCount" id="totalCount" readonly
                           th:value="${dosesPerVehicle}" />-->
    
                    <input type="submit" value="Distribute" class="btn btn-primary col-10 col-md-2"/>
                </form>
    
            </div>
    
            <div th:if="${driveAddedForCityDate}">
                <h4>Vaccine Drive is already for this combination city and date.</h4>
            </div>
    
            <div th:if="${hasAddedDrives}">
                Please update newly added Vaccine Drives.
                <form method="post" th:action="@{/staff/vaccine-drive/list-inadequate}">
                    <input type="hidden" name="driveDate" th:value="${driveDate}" />
                    <input type="hidden" name="cityId" th:value="${cityId}" />
                    <input type="submit" value="Update Vaccine Drives" />
                </form>
            </div>
        </div>
        

    </div>
</body>
<script layout:fragment="script">
    function submitForm() {
        document.getElementById("drive-form").submit();
    }

    function calculateDosePerVan(vehicleCountSelect) {
        var cityCapacity = document.getElementById("cityCapacity").value;
        var vehicleCount = parseInt(vehicleCountSelect.value);
        if(cityCapacity!=NaN && cityCapacity != null) {
            document.getElementById("dosesPerVehicle").value = Math.ceil(cityCapacity / vehicleCount);
        }
        else
            alert("Please reload the page.");
    }

    $(document).ready(function() {
  
    // DataTables initialisation
    var table = $('#myTable').DataTable();

    });
</script>
</html>