<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
   <!-- <div th:insert="fragments/header::header"></div>-->
    <div layout:fragment="content">
        <h1>Home Page</h1>
        <a th:href="@{/user/login}">User Log In/Register</a><br/>
        <a th:href="@{/staff/login}">Staff Log In</a><br/>
        <a th:href="@{/location/get-by-city}">Slots by City</a><br/>
        <a th:href="@{/location/get-by-pin-code}">Slots by Pin Code</a><br/>
    </div>

    <!--<div th:insert="fragments/footer::footer"></div>-->
</body>
</html>