<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <title>Hello, world!</title>
    
  </head>
  <body>
    <div class="row m-0 p-0" layout:fragment="content">

        <div class="d-none d-md-block box1 col-md-6 ">
            <div class="d-flex flex-column align-items-center">
              <!-- <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul> -->
            </div>
        </div>

        <!--Mobile Number Form-->
        <div class="container box2 col-10 col-md-6" th:if="${!showOtpForm}">
            <div class="d-flex justify-content-center align-items-center login-container">
                <form class="login-form text-center " method="post"
                      th:action="@{/generate-otp}" th:object="${accountInstance}">
                    <h3 style="color:white; font-family:verdana;"
                    class="mb-3 font-weight-light text-muted">Mobile Vaccination</h3>
                    <h1 style="color:white; font-family:verdana;"
                    class="mb-4 font-weight-light text-uppercase">Login</h1>
                    <div class="form-group">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text rounded-pill">+91</div>
                        </div>
                          <input type="number" class="form-control rounded-pill  form-control-lg" name="mobileNumber"
                                 placeholder="Enter mobile number" maxlength="10" required
                                 th:value="${accountInstance.mobileNumber}">
                      </div>  
                    </div>
                      
                    <!-- <div class="form-group">
                        <input type="password" class="form-control rounded-pill form-control-lg" name="password"
                         placeholder="Password" required>
                    </div> -->

                    <div class="form-group">
                      <button type="submit" name="submitbtn" value="submit" 
                      class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase form-control rounded-pill">Get OTP</button>
                  </div>
                </form>
            </div>
        </div>

        <!--OTP form-->
        <div class="container box2 col-10 col-md-6" th:if="${showOtpForm}">
            <div class="d-flex justify-content-center align-items-center login-container">
                <form class="login-form text-center " method="post"
                      th:action="@{/user/process-login}" th:object="${accountInstance}">
                    <h3 style="color:whsite; font-family:verdana;"
                        class="mb-3 font-weight-light text-muted">Mobile Vaccination</h3>
                    <h1 style="color:whsite; font-family:verdana;"
                        class="mb-4 font-weight-light text-uppercase">Login</h1>

                    <!--Mobile Number disabled input-->
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text rounded-pill">+91</div>
                            </div>
                            <input type="number" class="form-control rounded-pill  form-control-lg" name="mobileNumber"
                                   placeholder="Enter mobile number" readonly th:value="${accountInstance.mobileNumber}">
                        </div>
                    </div>

                    <!--OTP field-->
                    <div class="form-group">
                        <div class="input-group mb-2">
                            <input type="number" class="form-control rounded-pill  form-control-lg" name="otp"
                                   placeholder="Enter otp" required th:value="${accountInstance.otp}">
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <input type="password" class="form-control rounded-pill form-control-lg" name="password"
                         placeholder="Password" required>
                    </div> -->

                    <!--TODO: Add message about otp is valid for 10 mins-->
                    <!--TODO: Add Resend OTP Button with counter-->

                    <div class="form-group">
                        <button type="submit" name="submitbtn" value="submit"
                                class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase form-control rounded-pill">Log in</button>
                    </div>


                </form>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>