<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centre List</title>
</head>
<body>
    <div layout:fragment="content">
        <!--TODO: add sorting and filtering-->
        <div class="container">
            <div class="d-flex flex-column py-4">
                <div class="h3 text-center">Centres</div> <hr>
                <div class="d-flex flex-row justify-content-between">
                    <p class="text-uppercase badge bg-warning p-2">Filters</p>
                    <p sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/staff/centre/add}" class="btn btn-info">Add Centre</a>
                    </p>
                </div>

                
                <div class="container">
                    <table class="table table-hover table-striped text-center" id="myTable">
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Spot</th>
                            <th scope="col">City</th>
                            <th scope="col">District</th>
                            <th scope="col">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="centre: ${centres}">
                                <td th:text="${centre.name}"></td>
                                <td th:text="${centre.spot.ward}"></td>
                                <td th:text="${centre.spot.city.name}"></td>
                                <td th:text="${centre.spot.city.district.name}"></td>
                                <td th:text="${centre.spot.city.district.state.name}"></td>
                            </tr> 
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        
    </div>

    
    <script layout:fragment="script">

        $(document).ready(function() {
        
            // DataTables initialisation
            var table = $('#myTable').DataTable();
        });

    </script>

</body>
</html>