<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaccine List</title>
</head>
<body>
    <div layout:fragment="content">
        <h3>Vaccine</h3>
        <p>
            <a th:href="@{/staff/vaccine/add-vaccine}">Add</a>
        </p>
        <table>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Added by</th>
                <th>Added at</th>
            </tr>
            <tr th:each="vaccine: ${vaccines}">
                <td th:text="${vaccine.name}"></td>
                <td th:text="${vaccine.code}"></td>
                <td th:text="${vaccine.addedBy.firstName + ' ' + vaccine.addedBy.}"></td>
                <td th:text="${vaccine.addedAt}"></td>
            </tr>
        </table>
    </div>
</body>
</html>