<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaccine List</title>
</head>
<body>
    <div layout:fragment="content">


        
    <div class="container py-4">
        <div class="d-flex flex-column">
            <div class="h3 text-center">List of Vaccine</div> <hr>
            <div>
                <div class="d-flex flex-row justify-content-between">
                    <p class="text-uppercase badge bg-warning p-2">Filters</p>
                    <p>
                        <a th:href="@{/staff/vaccine/add-vaccine}" class="btn btn-info">Add</a>
                    </p>
                </div>
                
            </div>

            <div class="container">
                <table id="myTable" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Disease</th>
                            <th scope="col">Interval (in Days)</th>
                            <th scope="col">Added by</th>
                            <th scope="col">Added at</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vaccine: ${vaccines}">
                            <td th:text="${vaccine.name}"></td>
                            <td th:text="${vaccine.code}"></td>
                            <td th:if="${vaccine.ofDisease}" th:text="${vaccine.ofDisease.name}"></td>
                            <td th:text="${vaccine.intervalInDays}"></td>
                            <td th:unless="${vaccine.ofDisease}" th:text="${'-'}"></td>
                            <td th:text="${vaccine.addedBy.fullName}"></td>
                            <td th:text="${vaccine.addedAt}"></td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>

        </div>
    </div>    

        <!-- <h3>Vaccine</h3>
        <p>
            <a th:href="@{/staff/vaccine/add-vaccine}">Add</a>
        </p>
        <table>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Added by</th>
                <th>Added at</th>
            </tr>
            <tr th:each="vaccine: ${vaccines}">
                <td th:text="${vaccine.name}"></td>
                <td th:text="${vaccine.code}"></td>
                <td th:text="${vaccine.addedBy.fullName}"></td>
                <td th:text="${vaccine.addedAt}"></td>
            </tr>
        </table> -->
    </div>

    <script layout:fragment="script">
      
     $(document).ready(function() {
         
         // DataTables initialisation
         var table = $('#myTable').DataTable();
      
     });
</script>    
</body>
</html>