<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaccine Drive List</title>
    <style>
        .font-weight-normal{
            font-size: 1.3rem;
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        <div class="container p-4">
            <div class="d-flex flex-row justify-content-between mb-4">
                <div class="h4">
                    Vaccine Drive
                </div>
                <a th:href="@{/staff/vaccine-drive/add}"  class="btn btn-info col-10 col-md-3">Issue Slot</a>
            </div>
            
            <form method="post" id="list-vaccine-drive-form"
                  th:action="@{/staff/vaccine-drive/}" >
    
                <div class="form-group d-flex flex-row justify-content-center my-4">
                    <label for="driveDate" class="col-10 col-md-2 font-weight-normal">Drive Date</label>
                    <input type="date" name="driveDate" id="driveDate" class="form-control col-10 col-md-3"
                    required th:value="${driveDate}" th:attr="max=${maxDriveDate}" />
    
                </div>
                
                <div th:insert="fragments/form::city-select-elements"></div>
    
                <div th:insert="fragments/form::vaccine-drive-status-select" class="mb-4"></div>
    
                <input type="submit" value="Search" class="btn btn-primary p-2 btn-lg"/>
            </form>
    
            <div th:if="${vaccineDrives}">
                <table class="table table-hover table-striped text-center my-4" id="myTable">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">City</th>
                        <th scope="col">Vaccine</th>
                        <th scope="col">Vaccinator</th>
                        <th scope="col">Doses</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Selected Spots</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    <tr th:each="drive: ${vaccineDrives}">
                        <td th:text="${drive.id}"></td>
                        <td th:text="${drive.driveDate}"></td>
                        <td th:text="${drive.city.name}"></td>
                        <td th:text="${drive.vaccine.name}"></td>

                        <td th:if="${drive.vaccinator}" th:text="${drive.vaccinator.fullName}"></td>
                        <td th:unless="${drive.vaccinator}" th:text="${'-'}"></td>

                        <td th:text="${drive.slotCount}"></td>

                        <td th:if="${drive.vehicle}"
                            th:text="${drive.vehicle.registrationNumber}"></td>
                        <td th:unless="${drive.vehicle}"
                            th:text="${'-'}"></td>

                        <td>
                            <div th:each="spot: ${drive.vaccinationSpots}"
                                  th:text="${spot.ward+':'+spot.localityNames +'; '}">
                            </div>
                        </td>

                        <td th:text="${drive.status}"></td>
                        <td>
                            <!-- Edit Button -->
                            <form method="post" target="_blank"
                                  th:if="${drive.status.name()=='INADEQUATE_DATA'}"
                                  th:action="@{/staff/vaccine-drive/update}" th:object="${driveDto}">
                                <input type="hidden" name="driveId" th:value="${drive.id}"/>
                                <input type="submit" value="Update" />
                            </form>
                            <!-- Deploy Button -->
                            <form method="post" action="/staff/vaccine-drive/get-registrations" target="_blank"
                                  th:if="${drive.status.name()=='BOOKING' and drive.driveDate.isAfter(minDeployDate) and drive.driveDate.isBefore(maxDeployDate)}">
                                <input type="hidden" name="driveId" th:value="${drive.id}">
                                <input type="submit" value="Deploy">
                            </form>
                            <!-- SET ON_GOING -->
                            <form method="post"
                                  th:if="${drive.status.name()=='UPCOMING' and drive.driveDate==today}"
                                  th:action="@{/staff/vaccine-drive/set-on-going}" th:object="${driveDto}">
                                <input type="hidden" name="driveId" th:value="${drive.id}"/>
                                <input type="submit" value="Set ON GOING" />
                            </form>
                            <!-- SET COMPLETED -->
                            <form method="post"
                                  th:if="${drive.status.name()=='ON_GOING' and drive.driveDate==today}"
                                  th:action="@{/staff/vaccine-drive/set-completed}" th:object="${driveDto}">
                                <input type="hidden" name="driveId" th:value="${drive.id}"/>
                                <input type="submit" value="Set COMPLETED" />
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div th:unless="${vaccineDrives}">
                <div class="d-flex flex-row justify-content-center">
                    <label class="font-italic form-control m-4 bg-warning col-10 col-md-5">
                        Please select Date, City and Status(Optional).
                    </label> 
                </div>
            </div>
        </div>
    </div>
</body>
<script layout:fragment="script">
    function submitForm() {
        document.getElementById('list-vaccine-drive-form').submit();
    }
    $(document).ready(function() {
  
    // DataTables initialisation
    var table = $('#myTable').DataTable();

    });
</script>
</html>