<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <form method="post" id="spot-form" th:action="@{/spot/get-by-city}" >

            <label for="state-select">Select State/UT:</label>
            <select id="state-select" name="stateName" onchange="submitspotForm()" required>
                <option value="" selected disabled>Select State</option>
                <!--<option th:if="${cityDto.state!=null}" th:value="${cityDto.state}"
                        th:text="${cityDto.state}" selected>
                </option>-->
                <span th:each="state: ${states}">
                    <option th:if="${cityDto.stateName != state.name}" th:value="${state.name}"
                            th:text="${state.name}"></option>
                    <!--If condition is false-->
                    <option th:unless="${cityDto.stateName != state.name}" th:value="${state.name}"
                            th:text="${state.name}" selected></option>
                </span>
            </select>

            <label for="district-select">Select District:</label>
            <select id="district-select" name="districtId" onchange="submitspotForm()">
                <option selected disabled>Select District</option>
                <span th:each="district: ${districts}">
                    <option th:if="${cityDto.districtId!=district.id}" th:value="${district.id}"
                            th:text="${district.name}"></option>
                    <option th:unless="${cityDto.districtId!=district.id}" th:value="${district.id}"
                            th:text="${district.name}" selected></option>
                </span>
            </select>

            <label for="city-select">Select City/Village:</label>
            <select id="city-select" name="cityId" onchange="submitspotForm()">
                <option selected disabled>Select City/Village</option>
                <span th:each="city: ${cities}">
                    <option th:if="${cityDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}"></option>
                    <option th:unless="${cityDto.cityId != city.id}" th:value="${city.id}" th:text="${city.name}" selected></option>
                </span>
            </select>
            <button type="submit">Search</button>
        </form>

        <div class="result">
            <p>spots:</p>
            <ul th:if="${spots}" >
                <li th:each="spot: ${spots}" th:text="${spot.ward}"></li>
            </ul>
            <p th:if="${spots==null and cityDto.cityId!=null}">No spots available for above city.</p>
        </div>

    </div>

    <script layout:fragment="script">
        function submitspotForm() {
            document.getElementById('spot-form').submit();
        }
    </script>
</body>
</html>