<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Vaccine Drive</title>
</head>
<body>
    <div layout:fragment="content">
            <table width="80%">
                <tr>
                    <td><label for="vaccine-drive-id">ID</label></td>
                    <td>
                        <input type="text" id="vaccine-drive-id" readonly
                               th:value="${vaccineDrive.id}"/>
                    </td>
                </tr>
                <tr>
                    <td><label for="drive-date">Drive Date:</label></td>
                    <td>
                        <input type="date" id="drive-date" readonly
                               th:value="${vaccineDrive.driveDate}"/>
                    </td>
                </tr>
                <tr>
                    <td><label for="drive-status">Drive Status:</label></td>
                    <td>
                        <input type="text" id="drive-status" readonly
                               th:value="${vaccineDrive.status}"/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h6>Location</h6>
                    </td>
                </tr>
                <tr>
                    <td><label for="drive-city">City:</label></td>
                    <td>
                        <input type="text" id="drive-city" readonly
                               th:value="${vaccineDrive.city.name}"/>
                    </td>
                </tr>

                <tr>
                    <td><label for="vaccinationSpots">Spots</label></td>
                    <td>
                        <div id="vaccinationSpots">
                            <div th:each="spot: ${vaccineDrive.vaccinationSpots}"
                                 th:text="${spot.ward+':'+spot.localityNames +'; '}"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="drive-slot-count">Vaccine: </label></td>
                    <td>
                        <input type="text" id="drive-vaccine" readonly
                               th:value="${vaccineDrive.vaccine.name}" />
                    </td>
                </tr>
                <tr>
                    <td><label for="drive-slot-count">Slot Count: </label></td>
                    <td>
                        <input type="text" id="drive-slot-count" readonly
                               th:value="${vaccineDrive.slotCount}" />
                    </td>
                </tr>
                <tr>
                    <td><label for="drive-vaccinator">Vaccinator</label></td>
                    <td>
                        <input type="text" id="drive-vaccinator" readonly
                               th:if="${vaccineDrive.vaccinator}"
                               th:value="${vaccineDrive.vaccinator.fullName}" />
                        <input type="text" id="drive-vaccinator" value="-" readonly style="text-align=center;"
                               th:unless="${vaccineDrive.vaccinator}"/>
                    </td>
                </tr><tr>
                <td><label for="drive-vehicle">Vehicle</label></td>
                <td>
                    <input type="text" id="drive-vehicle" readonly
                           th:if="${vaccineDrive.vehicle}"
                           th:value="${vaccineDrive.vehicle.registrationNumber}" />
                    <input type="text" id="drive-vehicle" value="-" readonly style="text-align=center;"
                           th:unless="${vaccineDrive.vehicle}"/>
                </td>
            </tr>
            </table>

        <form method="post" action="/staff/vaccine-drive/update"
              th:if="${vaccineDrive.status.name()=='INADEQUATE_DATA'}" th:object="${driveDto}">
            <input type="hidden" name="driveId"
                   th:value="${vaccineDrive.id}"/>

            <div th:insert="fragments/form::vehicle-select"></div>

            <!--<h6>Vaccine</h6>-->
            <!--<div th:insert="fragments/form::vaccine-select"></div>-->

            <div th:insert="fragments/form::vaccinator-select"></div>

            <input type="submit" value="Update" />
        </form>
    </div>
</body>
</html>