<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <title>Hello, world!</title>

    <style>
      .footer-links{
  color: #bdb3b3;
  margin-bottom: 1vh;
}    

footer{
  margin-top: 8vh;
}
    </style>
  </head>
  <body class="d-flex flex-column ">
    <div layout:fragment="content">

    

<!-- Modal starts-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column align-items-center col-10 offset-1">
          <
          <div class="p-2 bd-highlight col-12">
              <form>
                  <div class="form-group">
                      <input type="text" class="form-control rounded-pill form-control-lg" name="fullName" 
                      placeholder="Name as per Aadhaar card" required>
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control rounded-pill form-control-lg" name="contactNo" 
                      placeholder="Aadhaar number" required>
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control rounded-pill form-control-lg" name="contactNo" 
                      placeholder="Enter Year of Birth" required>
                  </div>
              </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
    <!-- navbar starts -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
        <!-- Brand -->

        <a class="navbar-brand" href="#">Mo-Vaccine</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto mr-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menu</a>
                </li>
            </ul>
        </div>
    </nav>

      
    <div class="d-flex flex-column align-items-center">
        <div class="p-2 bd-highlight">
            <span style="font-size: 80px; color: gray;">
                <i class="fas fa-user-plus"></i>
            </span>
        </div>
        <div class="p-2 bd-highlight">
            <p style="font-size: 30px;" class="text-center font-weight-bold">
                No member found
            </p>
        </div>
        <div class="p-2 bd-highlight">
            <a href="#">
                <button type="button" class="btn btn-outline-primary btn-lg text-uppercase" data-toggle="modal" data-target="#exampleModalCenter">
                  <p class="mb-0 p-2"><span><i class="fas fa-plus mr-3"></i></span>Add Member</p>
                </button>
            </a>
        </div>
    </div>

  </div>
    <!-- footer -->

    <!-- Footer -->
<footer style="color:aliceblue;" class="page-footer font-small blue pt-4 bg-dark">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Mobile Vaccination</h5>
          <p class="footer-links mt-4">A project made by Final year students</p>
          <p class="footer-links">Datta Meghe College of Engineering</p>
          <p class="footer-links">(Department of Computer Engineering)</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Other Useful Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Universal Pass</a>
            </li>
            <li>
              <a href="#!">Co-Win Portal</a>
            </li>
            <li>
              <a href="https://verify.cowin.gov.in/">Verify Vaccination Certificate</a>
            </li>
            <li>
              <a href="https://www.worldometers.info/coronavirus/">Covid-19 cases</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="">Aadhar UIDAI</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">UIDAI</a>
            </li>
            <li>
              <a href="https://myaadhaar.uidai.gov.in/verifyAadhaar">Verify Aadhar number</a>
            </li>
            <li>
              <a href="https://resident.uidai.gov.in/bank-mapper">Aadhaar Bank Linking Status</a>
            </li>
            <li>
              <a href="https://uidai.gov.in/about-uidai/unique-identification-authority-of-india/about.html">About UIDAI</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 mb-3">© 2022 Copyright:
      <a href="https://mdbootstrap.com/"> dmce.ac.in</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <script>
            $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
    </script>
  </body>
</html>