<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}"
lang="en">
  <head>

    <title>Hello, world!</title>

      <style>
        .box{
            height: 5rem;
            background-color:hsl(0, 37%, 97%);
            border-radius: 1rem;
            box-shadow: 20px 20px 50px 15px rgb(216, 227, 235);
            padding: 10px;
            font-size: 1.5rem;
        }
    </style>

  </head>
  <body class="d-flex flex-column ">
    <div layout:fragment="content">

    

<!-- Modal starts-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column align-items-center col-10 offset-1">
          <div class="p-2 bd-highlight col-12">
              <form method="post" id="add-member-form" th:action="@{/user/add-member}" th:object="${memberInstance}" >
                  <div class="form-group">
                      <input type="text" class="form-control rounded-pill form-control-lg" name="fullName" 
                      placeholder="Name as per Aadhaar card" required>
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control rounded-pill form-control-lg" name="aadharId"
                      placeholder="Aadhaar number" required>
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control rounded-pill form-control-lg" name="birthYear"
                      placeholder="Enter Year of Birth" required>
                  </div>
              </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="submitAddMemberForm()">Save</button>
      </div>
    </div>
  </div>
</div>
      
    <div class="d-flex flex-column align-items-center">
<!--        mycode-->
        <div class="container">
            <div class="d-flex flex-column align-items-center py-4" th:if="${members != null}">
                <!-- divOne -->
                <div class="box col-md-8 col-10 my-4" th:each="member: ${members}">
                    <a th:href="@{'/user/member/'+${member.userId}}">
                    <form method="post" th:action="@{/user/member/to-check-slot}">
                        <input type="hidden" name="memberId" th:value="${member.userId}">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column align-items-center">
                            <div>
                                <span class="material-icons-outlined"> <img src="/img/p109.svg"> </span>
                                <span th:text="${'Name : ' + member.fullName}"></span>
                            </div>
                            <div>
                                <span class="badge badge-pill badge-warning">Partially vaccinated</span>
                                <!-- <span class="badge badge-pill badge-success">Fully vaccinated</span>
                                <span class="badge badge-pill badge-danger">Not vaccinated</span> -->
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <div>
                                <span th:text="'Year of Birth : ' + ${member.birthYear}"></span>
                                <span onload="this.innerHtml=new Date().getFullYear - ${member.birthYear}"></span>
                            </div>
                            <div>
                                <a href="#"><button type="submit" class="btn btn-primary col-10">Book Slot</button></a>
                            </div>
                        </div>
                    </div>
                    </form>
                    </a>
                </div>
            </div>
        </div>
        <!--Member listing-->
<!--        <div th:if="${members != null}">-->
<!--            <ul th:each="member: ${members}">-->
<!--                <li>-->
<!--                    <form method="post" th:action="@{/user/member}">-->
<!--                        <input type="hidden" name="userId"-->
<!--                               th:value="${member.userId}">-->
<!--                        <input type="submit" th:value="${member.fullName}" />-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
        <!--for no member-->
        <div class="p-2 bd-highlight" th:unless="${members != null}">
            <span style="font-size: 80px; color: gray;">
                <i class="fas fa-user-plus"></i>
            </span>
        </div>
        <div class="p-2 bd-highlight" th:unless="${members != null}">
            <p style="font-size: 30px;" class="text-center font-weight-bold">
                No member found
            </p>
        </div>

        <div class="p-2 bd-highlight pb-4">
            <a href="#">
                <button type="button" class="btn btn-outline-primary btn-lg text-uppercase" data-toggle="modal" data-target="#exampleModalCenter">
                  <p class="mb-0 p-2"><span><i class="fas fa-plus mr-3"></i></span>Add Member</p>
                </button>
            </a>
        </div>
    </div>

  </div>

    <!-- footer -->
  
    <script layout:fragment="script">
            $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
            function submitAddMemberForm() {
                document.getElementById("add-member-form").submit();
            }
    </script>
  </body>
</html>